doctype html
html
    head
        title Shop Page
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/css/main.css")
    body
        header
            h1 Welcome to the Shop
            nav
                ul
                    li: a(href="/") Home
                    li: a(href="/shop") Shop
                    li: a(href="/cart") Cart
        main
            h2 Featured Products
            ul.product-list
                li Product 1
                li Product 2
                li Product 3
        footer
            p © 2023 Shop Inc.